---
import { site } from '~/lib/site';

interface Props {
  query?: string;
  title?: string;
  height?: number;
}

const {
  query = site.map.query,
  title = `Mapa: ${site.map.label}`,
  height = '100%',
} = Astro.props;


const src = `https://maps.google.com/maps?q=${encodeURIComponent(query)}&t=&z=15&ie=UTF8&iwloc=&output=embed`;
---

<div class="overflow-hidden rounded-2xl border border-border" data-gtm-map>
  <iframe
    src={src}
    title={title}
    width="100%"
    height={height}
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    style="border:0; display:block;"
  ></iframe>
</div>
